#current
  p[ng-if="(bookings | filter:filterCurrentBookings).length == 0"]
    | Vous n'avez pas de réservations en cours
  performance[ng-repeat="booking in bookings | filter:filterCurrentBookings" booking="booking"]
